.chat-box{
    display: block;
    width: 800px;
    height: 600px;
    border: 1px solid #c4c4c4;
    background: #f0e2f7;
    position: absolute;
    left: 50%;
    top:100px;
    margin-left: -400px;
}
.chat-box::after,.control-box::after{
    display: table;
    content: "";
    clear: both;
}
.chat-box-left{
    float: left;
    width: 200px;
    height: 100%;
    border-right: 1px solid #c4c4c4;
    box-sizing: border-box;
}
.chat-box-right{
    float: left;
    width: 600px;
    height: 100%;
}
.control-left{
    float: left;
    width: 510px;
    height: 100%;
}
.msg-input{
    display: block;
    height: 100%;
    resize: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    color: #666;
    background: transparent;
}
.msg-input:focus{
    border: 1px solid #559ccc;
    box-shadow: 0 0 3px #ddd;
}
.control-box{
    display: block;
    box-sizing: border-box;
    padding: 10px;
    height: 100px;
}
.control-right{
    margin-left: 520px;
    height: 100%;
}
.send-btn{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgba(53, 183, 255, 0.66);
    border-radius: 4px;
    cursor: pointer;
}
.main-title-box{
    height: 60px;
}
.sub-title-box{
    height: 40px;
}
.toolBar-box{
    height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid #c4c4c4;
}
.msg-content-box{
    height: 360px;
    border-top:1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    box-sizing: border-box;
    padding: 5px;
    overflow: auto;
}
.chat-title{
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    color: #7b797e;
    font-weight: bold;
}
.sub-title{
    font-size: 15px;
    line-height: 40px;
    color: #7b797e;
    font-weight: bold;
    padding: 0 15px;
}
.sub-title .online-num{
    color: #5b98ff;
}
.aside-header{
    height: 40px;
    border-bottom: 1px solid #c4c4c4;
}
.aside-header-txt{
    font-size: 15px;
    line-height: 40px;
    color: #7b797e;
    font-weight: bold;
    padding: 0 15px;
}
.aside-body{
    padding: 0 15px 15px;
    height: 530px;
    overflow: auto;
}
/****************************************/
.img-box{
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    border-radius:50%;
    overflow: hidden;

}
.online-list li img{
    display: block;
    width: 100%;
    height: 100%;
}
.online-list{
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}
.online-list li{
    display: block;
    height: 40px;
    cursor: pointer;
    padding: 5px;
    border-top: 1px solid #c4c4c4;
}
.online-list li:first-child{
    border-top: none;
}
.name-box{
    line-height: 40px;
    font-size: 15px;
    overflow: hidden;
    margin-left: 45px;
    height: 40px;
    color: #636165;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.iconFaceBtn{
    background: url("../content/facebtn.png") no-repeat center;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.iconPic{
    background: url("../content/sendPic.png") no-repeat center;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.faceBtn,.sendPic-btn{
    display: block;
    float: left;
    position: relative;
    width: 24px;
    height: 24px;
    padding: 8px;
}
/*****************************************************/
.chat-msg-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.chat-msg-list li{
    font-size: 14px;
    color: #5f5f5f;
}
/***********************************************/
.sys-msg{
    text-align: center;
    margin-bottom: 10px;
}
.sys-msg .msg-box{
    display: inline-block;
    font-size: 12px;
    color: #a9a9a9;
    text-align: center;
    padding: 5px 12px;
    border-radius: 13px;
    background-color: rgba(178, 178, 178, 0.46);
}
/*************************************************/
.user-msg{

}
.msg-box-img{
    display: block;
    float: left;
    width: 30px;
    height: 40px;
    position: relative;
}
.user-msg .msg-tag-txt{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #8c8c8c;
    position: absolute;
    left: 40px;
    top:0;
    width: 400px;
}
.user-img{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
}
.user-msg .msg-txt-box{
    margin-left: 40px;
    padding-top: 30px;
    padding-left: 5px;
}
.user-msg  .msg-txt-content{
    display: block;
    float: left;
    position: relative;
    padding: 5px;
    border-radius: 4px;
    background-color: #c3c7dd;
}
.msg-txt-content img{
    max-width: 400px;
    max-height: 100px;
}
.user-msg  .msg-arrow{
    display: block;
    width: 0px;
    height: 0px;
    border-top: 0px solid transparent;
    border-right: 15px solid #c3c7dd;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 5px;
    left: -10px;
}
.msg-txt-box::after,.msg-box:after{
    display: block;
    content: "";
    clear: both;
}
/******************************************/
.me-msg .msg-box-img{
    float: right;
}
.me-msg  .msg-tag-txt{
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #8c8c8c;
    position: absolute;
    right: 40px;
    top:0;
    width: 400px;
    text-align: right;
}
.me-msg .msg-txt-box{
    margin-right: 40px;
    padding-top: 30px;
    padding-right: 5px;
}
.me-msg .msg-txt-content{
    display: block;
    float: right;
    position: relative;
    padding: 5px;
    border-radius: 4px;
    background-color: #c3c7dd;
}
.me-msg .msg-arrow{
    display: block;
    width: 0px;
    height: 0px;
    border-top: 0px solid transparent;
    border-left: 15px solid #c3c7dd;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 5px;
    right: -10px;
}
/********************************************/
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.msg-content-box::-webkit-scrollbar,.aside-body::-webkit-scrollbar{
    width: 5px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.38);
}
/*定义滚动条的轨道，内阴影及圆角*/
.msg-content-box::-webkit-scrollbar-track,.aside-body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(240, 240, 240, 0.3);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.36);
}
/*定义滑块，内阴影及圆角*/
.msg-content-box::-webkit-scrollbar-thumb,.aside-body::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(236, 236, 236, 0.3);
    background-color: #555;
}
/*************************************************************/
body{
    margin: 0;
}
.top-Nav{
    height: 60px;
    background: #2f2f2f;
}
.nav-box{
    width: 1000px;
    margin: 0 auto;
}
.login-btn{
    color: #fff;
    line-height: 60px;
    padding: 0 10px;
    cursor: pointer;
    width: 60px;
    text-align: center;
}
.login-btn:hover{
    background: #636363;
}
/*******************************/
/*******************************************/
#loginWrapper{
    display: none;
}
#nickWrapper{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -225px;
    top: 120px;
}
.login-form{
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
}
.login-form .form-group::after{
    display: table;
    clear: both;
    content: '';
}
.login-form .form-group label{
    display: block;
    color: #666;
    float: left;
    font-weight: bold;
    font-size: 16px;
    width: 90px;
    line-height: 80px;
    height: 80px;
    text-align: right;
    padding-right: 10px;
}
.form-control{
    margin-left: 90px;
    text-align: left;
}
#nicknameInput{
    padding: 10px;
    border-radius: 4px;
}
.btn-box{
    text-align: left;
}
.btn-box .form-btn{
    padding: 0.5em 2em;
    font-size: 15px;
    margin-left: 15px;
    color: #7e7e7e;
    background-color: transparent;
    border: 1px solid #7d7d7d;
    cursor: pointer;
    outline-color: #7d7d7d;
}
.btn-box .form-btn:first-child{
    margin-left: 100px;
    color: #fff;
    background: #378bff;
    border: 1px solid #378bff;
}
.img-list li:hover{
    border: 2px solid #2e6991;
}
.img-list li.checked{
    border: 2px solid #2e6991;
}
/****************************************/
.img-box{
    display: block;

}
.img-list li img{
    display: block;
    width: 100%;
    height: 100%;
}
.img-list{
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}
.img-list li{
    float: left;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
#loginWrapper{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    background: rgba(15, 15, 15, 0.44);
    left: 0;
    top:0;
}
.input-control-box{
    height: 40px;
    padding-top: 20px;
}
.error-msg-box{
    font-size: 13px;
    color: #ff6162;
    display: none;
}
.imgInput{
    display: none;
}
/*****************************************/
.online-user{
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    color: #fff;
    display: none;
}
.online-user img{
    border-radius:50% ;
    width: 40px;
    height: 40px;
    float: left;
}
.online-user span{
    display: block;
    height: 40px;
    line-height: 40px;
    float: left;
    margin-left: 10px;
}
.online-user:hover{
    background: #636363;
}