html, body {
    margin: 0;
    background-color: #efefef;
    font-family: sans-serif;
    font-size: 14px;
}

#loginWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: block;
    padding-top: 200px;
}
#nickWrapper {
    display: none;
}
.banner {
    height: 80px;
    width: 100%;
}
.banner p {
    float: left;
    display: inline-block;
}
.controls {
    height: 100px;
    margin: 5px 0px;
    position: relative;
}
#historyMsg {
    height: 400px;
    background-color: #fff;
    overflow: auto;
    padding: 2px;
}
#historyMsg img {
    max-width: 99%;
}
.timespan {
    color: #b4b4b4;
}
.items {
    height: 30px;
}
#colorStyle {
    width: 50px;
    border: none;
    padding: 0;
}
/*custom the file input*/

.imageLable {
    position: relative;
}
#sendImage {
    position: absolute;
    width: 52px;
    left: 0;
    opacity: 0;
    overflow: hidden;
}
/*end custom file input*/

#messageInput {
    width: 440px;
    max-width: 440px;
    height: 90px;
    max-height: 90px;
    float:left;
}
#sendBtn {
    width: 50px;
    height: 96px;
    float: right;
}
#emojiWrapper {
    display: none;
    width: 500px;
    bottom: 105px;
    position: absolute;
    background-color: #aaa;
    box-shadow: 0 0 10px #555;
}
#emojiWrapper img {
    margin: 2px;
    padding: 2px;
    width: 25px;
    height: 25px;
}
#emojiWrapper img:hover {
    background-color: blue;
}
.emoji{
    display: inline;
}
footer {
    text-align: center;
}
.msg-box{
    padding-top: 12px;
    margin-top: 30px;
    margin-left: 60px;
}
.chat-box,.msg-box::after,.img-list::after{
    display: table;
    clear: both;
    content: '';
}
.chat-box{
    width: 650px;
    margin: 20px auto 0 auto;
    background: #aaa77a;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #ddd;
}
.user-box,.wrapper{
    float: left;
    padding: 5px;
}
.user-box{
    width: 100px;
    height: 640px;
    padding-left: 20px;
}
#online-list{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 580px;
    background: #fff;
}
#online-list li{
    font-size: 14px;
    color: #dd6565;
    border-bottom: 1px solid #eee;
    padding:10px 5px;
    width: 80px;

}
#online-list li img{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
}
#online-list li div{
    margin-left: 30px;
    line-height: 30px;
    padding-left: 5px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tag{
    font-size: 14px;
    font-weight: bold;
    line-height: 2.5em;
    padding: 0 10px;
}
.wrapper {
    width: 500px;
    height: 640px;
}

.msg-content{
    display: block;
    float: left;
    position: relative;
    padding: 10px;
    background: #c3c7dd;
    border-radius: 4px;
}
.me{
    text-align: right;
}
.me .msg-content{
    float: right;
}
.me .msg-arrow{
    right: 10px;
}
.msg-arrow{
    display: block;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #c3c7dd;
    position: absolute;
    bottom: 100%;
    left: 10px;
}
.me .msg-arrow{
    left: auto;
    right: 10px;
}
.chat-title{
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #051535;
}
.num-tag{
    color: #2569dd;
    font-weight: bold;
    font-size: 18px;
}
input[type="button"]{
    outline: none;
    background: #2e6991;
    border: none;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 4px;
    color: #fff;
}
p img{
    max-width: 460px;
}
#historyMsg p{
    margin: 0;
    padding: 5px;
}
.user-msg{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    float: left;
}
.user-msg span{
    display: block;
    position: absolute;
    top: 14px;
    left: 100%;
    margin-left: 10px;
    font-size: 12px;
    color: #806D6D;
    width: 300px;
}
 .me .user-msg span{
    right: 100%;
    margin-right: 10px;
    font-size: 12px;
    color: #806D6D;
     left: inherit;
}
 .me .user-msg{
     float: right;
 }
 .me .msg-box{
     margin-left: 0px;
     margin-right: 60px;
 }
.user-msg img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.select-pic-box{
    display: block;
}
/****************************************/
.img-box{
    display: block;

}
.img-list li img{
    display: block;
    width: 100%;
    height: 100%;
}
.img-list{
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}
.img-list li{
    float: left;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
/*******************************************/
.login-form{
    background: rgba(203, 211, 161, 0.73);
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 4px #fbfbfb;
}
.login-form .form-group::after{
    display: table;
    clear: both;
    content: '';
}
.login-form .form-group label{
    display: block;
    color: #666;
    float: left;
    font-weight: bold;
    font-size: 16px;
    width: 90px;
    line-height: 80px;
    height: 80px;
    text-align: right;
    padding-right: 10px;
}
.form-control{
    margin-left: 90px;
    text-align: left;
}
#nicknameInput{
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
}
.btn-box{
    text-align: left;
}
#loginBtn{
    margin-left: 100px;
    padding: 0.5em 2em;
    font-size: 15px;
}
.img-list li:hover{
    border: 2px solid #2e6991;
}
.img-list li.checked{
    border: 2px solid #2e6991;
}