body,html{
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/a1 (10).jpg");
    background-repeat:no-repeat ;
    background-position:center ;
    background-size: cover;
}
.webTalk-box{
    display: block;
    width: 700px;
    height: 600px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -300px;
}
.wChat-copyright{
    width: 100%;
    left: 0;
    position: fixed;
    bottom: 20px;
    color: #eeeeee;
    font-size: 12px;
    text-align: center;
}
.webTalk-box:after,.webTalk-panel:after{
    display: block;
    content: "";
    clear: both;
}
.webTalk-menu-box{
    width: 60px;
    height: 100%;
    background: #26292e;
    float: left;
}
.webTalk-container{
    height: 100%;
    background: #FFFFFF;
    margin-left: 60px;
}
.webTalk-panel{
    display: block;
    width: 100%;
    height: 100%;
}
.webTalk-panel-left{
    height: 100%;
    width: 200px;
    border-right: 1px solid #d1d1d1;
    float: left;
    position: relative;
}
.webTalk-search{
    height: 50px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.webTalk-search span{
    position: absolute;
    height: 30px;
    width: 24px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    left: 10px;
    top: 10px;
    color: #92959b;
}
.webTalk-search-input{
    line-height: 30px;
    width: 100%;
    font-size: 12px;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    border: none;
    background: #f2f2f2;
    padding-left: 25px;
    padding-right: 10px;
    color: #606266;
}
.webTalk-users-list{
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 50px;
    bottom: 10px;
    left: 0;
}
.webTalk-users-listPanel{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.webTalk-panel-right{
    height: 100%;
    position: relative;
    margin-left: 201px;
}
.webTalk-message-container{
    height: 100%;
    background: #eeeeee;
    position: relative;
}
.webTalk-message-container .icon-wechat{
    display: block;
    width: 80px;
    height: 60px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -40px;
    margin-left: -40px;
    text-align: center;
    line-height: 80px;
    font-size: 80px;
    color: #d1d1d1;
}
.webTalk-connect-status{
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    right: 10px;
    top: 5px;
    font-size: 14px;
    color: #999a9e;
}
.webTalk-connect-status.webTalk-connect-fail{
    color: #cbced3;
}
.webTalk-title{
    height: 35px;
    width: 100%;
}
.webTalk-title-text{
    text-align: center;
    line-height: 34px;
    border-bottom: 1px solid #d1d1d1;
    font-weight: normal;
    font-size: 14px;
    color: #606266;
    margin: 0 10px;
}
.webTalk-message-box{
    position: absolute;
    top: 35px;
    bottom: 140px;
    width: 100%;
    left: 0;
}
.webTalk-message-list{
    display: block;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}
.webTalk-footer{
    height: 140px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.webTalk-toolBar-box{
    border-top: 1px solid #d1d1d1;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
    vertical-align: middle;
}
.webTalk-toolBar{
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    font-size: 20px;
    color: #535a62;
    cursor: pointer;
}
.webTalk-message-inputBox{
    margin: 0 10px;
}
.webTalk-message-input{
    display: block;
    background: transparent;
    width: 100%;
    height: 60px;
    outline: none;
    resize: none;
    margin: 0;
    padding: 5px 10px;
    border: none;
    box-sizing: border-box;
    color: #666666;
}
.webTalk-toolBar .icon{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left:-0.5em ;
    margin-top: -0.5em;
}
.webTalk-login-avatar{
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
}
.webTalk-login-avatar img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: none;
}
.webTalk-menu-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.webTalk-menu-item{
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #f2f2f2;
    cursor: pointer;
}
.webTalk-menu-item:hover,.webTalk-menu-item.active{
    color: #b2e281;
}
.webTalk-sendBtn-box{
    text-align: right;
    padding: 0 10px;
}
.webTalk-sendBtn{
    display: inline-block;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 3px 30px;
    font-size: 14px;
    text-decoration: none;
    background-color: #fff;
    color: #222;
    cursor: pointer;
    outline: none;
}
/*******消息气泡样式*******/
.webTalk-message-item:after{
    display: block;
    content: "";
    clear: both;
}
.webTalk-message-item{
    margin-top: 10px;
}
.webTalk-message-item:first-child{
    margin-top: 0;
}
.webTalk-avatarBox{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.webTalk-avatarBox img{
    display: block;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.webTalk-from-info{
    line-height: 20px;
    font-size: 12px;
    color: #6d6d6d;
}
.webTalk-message-body{
    margin: 0 55px;
}
.webTalk-message-text{
    display: inline-block;
    line-height: 20px;
    min-height: 20px;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    background: #FFFFFF;
    font-size: 12px;
    color: #6d6d6d;
    word-wrap: break-word;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
}
.webTalk-message-text img {
    margin: 2px;
    border: 0;
    vertical-align: bottom;
}
.webTalk-time-span{
    margin: 0 5px;
}
.webTalk-message-send .webTalk-avatarBox{
    float: right;
}
.webTalk-message-send .webTalk-from-info{
    text-align: right;
}
.webTalk-message-send .webTalk-message-text{
    background: #b2e281;
}
.webTalk-message-send .webTalk-message-text:after{
    display: block;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    left: 100%;
    border-top: 5px solid transparent;
    border-left: 5px solid #b2e281;
    border-bottom: 5px solid transparent;
    top:15px;
}
.webTalk-message-send .webTalk-message-body{
    text-align: right;
}
.webTalk-message-receive .webTalk-avatarBox{
    float: left;
}
.webTalk-message-receive .webTalk-from-info{
    text-align: left;
}
.webTalk-message-receive .webTalk-message-text:after{
    display: block;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    right: 100%;
    border-top: 5px solid transparent;
    border-right: 5px solid #FFFFFF;
    border-bottom: 5px solid transparent;
    top:15px;
}
/*******用户列表样式*********/
.webTalk-users-item{
    padding: 10px;
    cursor: pointer;
    position: relative;
}
.webTalk-users-item.active{
    background: #f2f2f2;
}
.webTalk-users-item.active:after,.webTalk-users-item:hover:after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 2px;
    bottom:2px;
    width: 2px;
    background: #b2e281;
}
.webTalk-users-item:after{
    display: block;
    content: "";
    clear: both;
}
.webTalk-user-avatar{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    float: left;
    position: relative;
}
.webTalk-user-avatar i{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    line-height: 1;
    color: #f2f2f2;
    background: rgba(51, 51, 51, 0.61);
    border-radius: 2px 0 0 0;
}
.webTalk-user-avatar img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.webTalk-user-InfoBox{
    margin-left: 50px;
}
.webTalk-user-name{
    font-size: 12px;
    color: #333333;
    line-height: 20px;
    height: 20px;
    position: relative;
}
.webTalk-user-message{
    line-height: 20px;
    height: 20px;
    color: #6a737d;
    font-size: 12px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}
.webTalk-unReaderNum{
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0 6px;
    text-align: center;
    white-space: nowrap;
    border-radius: 10px;
    background: #f56c6c;
    position: absolute;
    color: #FFFFFF;
    right: 0;
    top: 0;
    transform: scale(0.8);
}
.webTalk-message-time{
    position: absolute;
    right: 0;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    top: 0;
    color: #6a737d;
}
.webTalk-no-user{
    text-align: center;
    font-size: 12px;
    color: #a2adb9;
    line-height: 30px;
}
/********表情插件样式***********/
.webTalk-expression{
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    position: relative;
}
.webTalk-expression-panel{
    background: #ffffff;
    border-radius: 4px;
    width: 405px;
    box-shadow: 0 0 7px #ccc;
    position: absolute;
    bottom: 100%;
    left: -40px;
    margin-bottom: 10px;
    padding: 10px;
}
.webTalk-expression-list:after{
    clear: both;
    display: block;
    content: "";
}
.webTalk-expression-item{
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    padding: 3px;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    margin: -1px 0 0 -1px;
    position: relative;
}
.webTalk-expression-item:hover{
    border: 1px solid #3a8ee6;
    z-index: 99;
}
.webTalk-expression-item img{
    display: block;
    width: 100%;
    height: 100%;
    user-select: none;
}
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.ui-scroll::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0);
}
/*定义滚动条的轨道，内阴影及圆角*/
.ui-scroll::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(240, 240, 240, 0);
    border-radius: 10px;
    background-color: rgba(0, 89, 255, 0);
}
/*定义滑块，内阴影及圆角*/
.ui-scroll:hover::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(236, 236, 236, 0.3);
    background-color: rgba(203, 203, 203, 0.54);
    transition: all 0.5s;
}
/************连接日志样式*************/
.webTalk-logBox{
    position: fixed;
    width: 600px;
    border-radius: 4px;
    background: #FFFFFF;
    z-index: 999;
    left: 50%;
    margin-left: -300px;
    top: 80px;
}
.webTalk-logHeader{
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 30px;
    color: #666666;
    font-weight: bold;
    position: relative;
}
.webTalk-log-closeBtn{
    display: block;
    width: 20px;
    height: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 5px;
    color: #8893a0;
    cursor: pointer;
}
.webTalk-log-closeBtn:hover{
    background: rgba(51, 51, 51, 0.1);
    border-radius: 4px;
}
.webTalk-log-container{
    padding: 10px 0;
    height: 320px;
    line-height: 20px;
    font-size: 12px;
    background: #333333;
    color: #FFFFFF;
}
.webTalk-log-list{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    overflow-y: auto;
    box-sizing: border-box;
}
.webTalk-log-time{
    margin-left: 5px;
}
.webTalk-log-info{
    color: #96ceff;
}
.webTalk-log-success{
    color: #79ff78;
}
.webTalk-log-warning{
    color: #ffb03c;
}
.webTalk-log-error{
    color: #ff3d46;
}
/********设置样式*********/
.webTalk-setting-header,.webTalk-about-header{
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #6a737d;
}
.webTalk-about-box{
    width: 400px;
    padding: 0 15px;
}
.webTalk-setting-list,.webTalk-about-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.webTalk-setting-list li,.webTalk-about-box li{
    padding: 10px 5px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 14px;
    color: #6a737d;
    border-bottom: 1px dotted #d1d1d1;
}
.webTalk-about-box li span{
    font-size: 12px;
}
.webTalk-about-box li a{
    text-decoration: none;
    color: #6a737d;
}
.webTalk-about-box li a:hover{
    color: #00aefe;
}
.webTalk-info-row:after{
    clear: both;
    content: "";
}
.webChat-imgBox{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    float: left;
    position: relative;
    overflow: hidden;
}
.webTalk-infoBox{
    margin-left: 45px;
    line-height: 20px;
}
.webChat-imgBox i{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    line-height: 1;
    color: #f2f2f2;
    background: rgba(51, 51, 51, 0.61);
    border-radius: 2px 0 0 0;
}
.webChat-imgBox img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    vertical-align: middle;
}
.webTalk-setting-list li input[type='checkbox']{
    margin: -2px 5px 0 0;
    width: 16px;
    height: 16px;
    line-height: 20px;
    vertical-align: middle;
    outline: none;
}
.webTalk-setting-box{
    padding: 0 15px;
    width: 400px;
}
.webTalk-ip{
    margin-left: 5px;
    font-size: 12px;
    color: #99a9bf;
}
/*******************/
.webTalk-alert{
    position: fixed;
    top: 60px;
    left: 50%;
    padding: 5px 15px;
    border-radius: 4px;
    background: rgba(51, 51, 51, 0.7);
    color: #f2f2f2;
    font-size: 12px;
    line-height: 20px;
    z-index: 999;
    transform: translateX(-50%) translateY(0);
}
/*******CSS动画***********/
.slider-enter-active, .slider-leave-active {
    transition: all .5s;
}
.slider-leave-to,.slider-enter{
    opacity: 0;
    transform: translateY(-40px);
}
.alterSlider-enter-active, .alterSlider-leave-active {
    transition: all .5s;
}
.alterSlider-leave-to,.alterSlider-enter{
    opacity: 0;
    transform: translateY(-40px) translateX(-50%);
}
.webTalk-flip{
    position: fixed;
    width: 600px;
    border-radius: 4px;
    background: #FFFFFF;
    z-index: 999;
    left: 50%;
    margin-left: -300px;
    top: 0;
    perspective:1000px;
    transform-style:preserve-3d;
}
.flip-enter-active, .flip-leave-active {
    transition: all .5s ease;
}
.flip-leave-to,.flip-enter{
    opacity: 0;
    transform: rotateX(-75deg);
}
/*******登录样式*********/
.webTalk-loginBox{
    position: fixed;
    width: 380px;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -190px;
    z-index: 999;
}
.webTalk-loginBanner{
    position: relative;
    height: 160px;
    background: url("../images/a1 (10).jpg") no-repeat center;
    background-size: cover;
    border-radius: 4px 4px 0 0;
}
.webTalk-login-form{
    display: inline-block;
}
.webTalk-login-form:after{
    display: block;
    content: "";
    clear: both;
}
.webTalk-loginForm-box{
    text-align: center;
    padding: 20px 0;
    background: #FFFFFF;
    border-radius: 0 0 4px 4px;
}
.webTalk-user-avatarBox{
    width: 70px;
    height: 70px;
    position: relative;
    float: left;
}
.webTalk-user-avatarBox img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.webTalk-form-inputBox {
    margin-left: 80px;
}
.webTalk-form-inputBox input{
    font-size: 14px;
    display: block;
    line-height: 35px;
    height: 35px;
    padding: 0 10px;
    border: 1px solid #C0C4CC;
    box-sizing: border-box;
    margin: -1px;
    width: 220px;
    outline: none;
    position: relative;
}
.webTalk-formBtn{
    margin-top: 15px;
    display: block;
    width: 100%;
    line-height: 30px;
    font-size: 12px;
    background: #4db3ff;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
.webTalk-user-name{
    border-radius: 4px 4px 0 0;
}
.webTalk-user-name:focus,.webTalk-user-password:focus{
    border-color: #4db3ff;
    z-index: 9;
}
.webTalk-user-password{
    border-radius:0 0 4px 4px;
}
.webTalk-select-imgBox{
    position: absolute;
    width: 360px;
    padding: 10px;
    background: #ffffff;
    border-radius: 4px;
    top: 80px;
    left: -15px;
    border: 1px solid #d1d1d1;
}
.webTalk-select-imgBox:before{
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 100%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #d1d1d1;
    left: 40px;
    margin-bottom: 0px;
}
.webTalk-select-imgBox:after{
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 100%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    left: 40px;
    margin-bottom: -1px;
}
.webTalk-avatar-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.webTalk-avatar-list:after{
    display: block;
    content: "";
    clear: both;
}
.webTalk-avatar-list li{
    float: left;
    margin: 5px;
    width: 50px;
    height: 50px;
    position: relative;
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
}
.webTalk-avatar-list li img{
    display: block;
    width: 100%;
    height: 100%;
}
.webTalk-avatar-list li.active{
    border: 2px solid #4db3ff;
}
.webTalk-avatar-list li.active:after{
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #4db3ff;
    content:'✔';
    color: #fff;
    bottom: 0;
    right: 0;
    text-align: right;
    line-height: 18px;
    font-size: 12px;
    border-radius: 10px 0 0 0;
}
.webTalk-addAvatar-box{
    margin: 0 5px 5px 10px;
}
.webTalk-addAvatar-box input{
    width: 100%;
    line-height: 30px;
    height: 30px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #C0C4CC;
    font-size: 12px;
    padding: 0 10px;
    box-sizing: border-box;
    color: #6a737d;
}
.webTalk-addAvatar-box input:focus{
    border: 1px solid #4db3ff;
}