@charset "utf8";
html{
    height: 100%;
}
body{
    height: 100%;
    background: url("../images/a1 (10).jpg") no-repeat center;
    background-size: cover;
    margin: 0;
}
.wt-warp{
    width: 740px;
    height: 600px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.wt-menu-box{
    height: 100%;
    width: 60px;
    float: left;
    background-color: #26292e;
    position: relative;
}
.wt-debug{
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 10px;
    padding: 10px;
    left: 50%;
    margin-left: -22px;
    cursor: pointer;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
}
.wt-debug span{
    font-size: 24px;
}
.wt-debug{
    color: #2a7d2c;
}
.wt-debug{
    color: #535353;
}
.wt-container{
    height: 100%;
    margin-left: 60px;
    background-color: #eeeeee;
}
/************会话***************/
.wt-session-warp{
    display: block;
    width: 100%;
    height: 100%;
}
.wt-session-list{
    width: 220px;
    height: 100%;
    float: left;
    border-right: 1px solid #d1d1d1;
    background-color: #ffffff;
}
.wt-session-container{
    margin-left: 221px;
    height: 100%;
}

.wt-session-window{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #eeeeee;
}
.wt-window-header{
    height: 50px;
    border-bottom: 1px solid #d1d1d1;
    margin: 0 10px;
}
.wt-window-footer{

}
.wt-window-container{
    height: calc(100% - 190px);
    position: relative;
}
.wt-window-messageList{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}
.wt-toolBar-box{
    height: 30px;
    border-top: 1px solid #d1d1d1;
    margin: 0 10px;
    position: relative;
}
/***表情样式***/
.wt-expression-panel{
    position: absolute;
    bottom: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    left: 0;
    margin-bottom: 10px;
}
.wt-expression-list{
    width: 420px;
    padding: 10px;
}
.wt-expression-list:after{
    display: block;
    content: '';
    clear: both;
}
.wt-expression-item{
    float: left;
    border: 1px solid transparent;
    padding: 2px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    user-select: none;
}
.wt-expression-item:hover{
    background-color: #eaeaea;
    border-radius: 2px;
}
.wt-expression-item img{
    display: block;
    width: 100%;
    height: 100%;
}
.wt-message-box{
    height: 60px;
    margin: 0 10px;
}
.wt-message-input{
    display: block;
    resize: none;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    background-color: transparent;
    border: none;
}
.wt-sendBtn-box{
    text-align: right;
    padding: 5px 10px 0 0;
}
.wt-sendBtn{
    display: inline-block;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 3px 30px;
    font-size: 14px;
    text-decoration: none;
    background-color: #fff;
    color: #222;
}
.wt-session-info{
    line-height: 30px;
    padding: 10px 0;
}
.wt-session-info img{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    vertical-align: middle;
}
.wt-session-info span{
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 15px;
    color: #606266;
}
.wt-session-info .wt-session-address{
    margin-left: 0;
    font-size: 12px;
    color: #6a737d;
}
.wt-toolBtn{
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
.wt-toolBtn i{
    font-size: 24px;
    color: #606266;
}
.wt-session-search{
    padding: 10px;
    position: relative;
}
.wt-session-search i{
    position: absolute;
    font-size: 20px;
    left: 13px;
    top: 14px;
    color: #6a737d;
}
.wt-search-input{
    border: none;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    background: #f2f2f2;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 26px;
    padding-right: 10px;
    color: #606266;
    outline: none;
}
.wt-session-users{
    height: calc(100% - 60px);
    position: relative;
    width: 100%;
}
.wt-session-listBox{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}
.wt-login-avatar{
    width: 40px;
    height: 40px;
    padding: 10px;
}
.wt-login-avatar img{
    display: block;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.wt-menu-item{
    padding: 10px;
    cursor: pointer;
}
.wt-menu-item .wt-menu-icon{
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.wt-menu-item .wt-menu-icon{
    font-size: 20px;
}
.wt-menu-item .wt-menu-icon{
    color: #f2f2f2;
}
.wt-menu-item.active .wt-menu-icon,
.wt-menu-item:hover .wt-menu-icon{
    color: #b2e281;
}
.wt-users-item:after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 2px;
    bottom: 2px;
    width: 2px;
}
.wt-users-item{
    padding: 10px;
    position: relative;
    cursor: pointer;
}
.wt-users-item.active:after,
.wt-users-item:hover:after{
    background: #b2e281;
}
.wt-users-item.active{
    background-color: #f2f2f2;
}
.wt-user-avatar {
    display: block;
    width: 40px;
    height: 40px;
    float: left;
}
.wt-user-avatar img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.wt-item-info{
    margin-left: 45px;
}
.wt-item-name{
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    font-size: 12px;
    color: #333333;
    padding-right: 60px;
}
.wt-item-name .wt-message-time{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #6a737d;
}
.wt-item-message{
    line-height: 20px;
    height: 20px;
    color: #6a737d;
    font-size: 12px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    padding-right: 26px;
}
.wt-item-message .wt-message-num{
    display: block;
    position: absolute;
    right: 0;
    top: 2px;
    height: 12px;
    min-width: 12px;
    line-height: 12px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    background-color: #f56c6c;
    vertical-align: middle;
}
.wt-no-session{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}
.wt-no-session svg{
    width: 100%;
    height: 100%;
}
.wt-no-session svg path{
    fill: #d9dce0;
}
/*******设置********/
.wt-setting-warp{
    display: block;
    width: 100%;
    height: 100%;
}
.wt-setting-container{
    padding: 0 10px;
    max-width: 460px;
}
.wt-loginInfo-warp{
    display: block;
    height: 40px;
    padding:10px;
    margin-top: 15px;
}
.wt-loginInfo-avatar{
    display: block;
    width: 40px;
    height: 40px;
    float: left;
}
.wt-loginInfo-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.wt-container-title{
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    color: #606266;
}
.wt-loginInfo-container{
    margin-left: 45px;
}
.wt-user-subInfo{
    font-size: 12px;
    color: #606266;
    line-height: 20px;
}
.wt-user-name{
    font-size: 14px;
    color: #606266;
    line-height: 20px;
}
.wt-setting-item input[type='checkbox']{
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.wt-setting-item{
    font-size: 14px;
    line-height: 40px;
    color: #6a737d;
    border-top: 1px dotted #d1d1d1;
    padding-left: 10px;
}
.wt-setting-item span{
    margin-left: 10px;
}
.wt-icon{
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
}
.wt-icon.wt-icon-phone{
    color: #f96907;
}
.wt-icon.wt-icon-pc{
    color: #0b90f9;
}
/******关于******/
.wt-about-container{
    padding: 0 10px;
    max-width: 460px;
}
.wt-about-item{
    padding: 10px 5px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 12px;
    color: #6a737d;
    border-bottom: 1px dotted #d1d1d1;
}
.wt-about-item a{
    text-decoration: none;
    color: #6a737d;
}
.wt-about-item a:hover{
    color: #66b1ff;
}
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.wt-scroll::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0);
}
/*定义滚动条的轨道，内阴影及圆角*/
.wt-scroll::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(240, 240, 240, 0);
    border-radius: 10px;
    background-color: rgba(0, 89, 255, 0);
}
/*定义滑块，内阴影及圆角*/
.wt-scroll:hover::-webkit-scrollbar-thumb{
    width: 10px;
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(236, 236, 236, 0.3);
    background-color: rgba(203, 203, 203, 0.54);
    transition: all 0.5s;
}
/*******消息气泡样式*******/
.wt-message-item:after{
    display: block;
    content: "";
    clear: both;
}
.wt-message-item{
    margin-top: 10px;
}
.wt-message-item:first-child{
    margin-top: 0;
}
.wt-avatarBox{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.wt-avatarBox img{
    display: block;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.wt-from-info{
    line-height: 20px;
    font-size: 12px;
    color: #6d6d6d;
}
.wt-message-body{
    margin: 0 55px;
}
.wt-message-text{
    display: inline-block;
    line-height: 20px;
    min-height: 20px;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    background: #FFFFFF;
    font-size: 12px;
    color: #6d6d6d;
    word-wrap: break-word;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
}
.wt-message-text img {
    margin: 2px;
    border: 0;
    vertical-align: bottom;
}
.wt-time-span{
    margin: 0 5px;
}
.wt-message-send .wt-avatarBox{
    float: right;
}
.wt-message-send .wt-from-info{
    text-align: right;
}
.wt-message-send .wt-message-text{
    background: #b2e281;
}
.wt-message-send .wt-message-text:after{
    display: block;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    left: 100%;
    border-top: 5px solid transparent;
    border-left: 5px solid #b2e281;
    border-bottom: 5px solid transparent;
    top:15px;
}
.wt-message-send .wt-message-body{
    text-align: right;
}
.wt-message-receive .wt-avatarBox{
    float: left;
}
.wt-message-receive .wt-from-info{
    text-align: left;
}
.wt-message-receive .wt-message-text:after{
    display: block;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    right: 100%;
    border-top: 5px solid transparent;
    border-right: 5px solid #FFFFFF;
    border-bottom: 5px solid transparent;
    top:15px;
}
/*******CSS动画***********/
.slider-enter-active, .slider-leave-active {
    transition: all .5s;
}
.slider-leave-to,.slider-enter{
    opacity: 0;
    transform: translateY(-40px);
}
/*******登录样式*********/
.wt-loginBox{
    position: fixed;
    width: 380px;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -190px;
    z-index: 999;
}
.wt-loginBanner{
    position: relative;
    height: 160px;
    background: url("../images/ceCo1gMpzZoQ.jpg") no-repeat center;
    background-size: cover;
    border-radius: 4px 4px 0 0;
}
.wt-login-form{
    display: inline-block;
}
.wt-login-form:after{
    display: block;
    content: "";
    clear: both;
}
.wt-loginForm-box{
    text-align: center;
    padding: 20px 0;
    background: #FFFFFF;
    border-radius: 0 0 4px 4px;
}
.wt-user-avatarBox{
    width: 70px;
    height: 70px;
    position: relative;
    float: left;
}
.wt-user-avatarBox img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.wt-form-inputBox {
    margin-left: 80px;
}
.wt-form-inputBox input{
    font-size: 14px;
    display: block;
    line-height: 35px;
    height: 35px;
    padding: 0 10px;
    border: 1px solid #C0C4CC;
    box-sizing: border-box;
    margin: -1px;
    width: 220px;
    outline: none;
    position: relative;
}
.wt-formBtn{
    margin-top: 15px;
    display: block;
    width: 100%;
    line-height: 30px;
    font-size: 12px;
    background: #4db3ff;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
.wt-user-name{
    border-radius: 4px 4px 0 0;
}
.wt-user-name:focus,.wt-user-password:focus{
    border-color: #4db3ff;
    z-index: 9;
}
.wt-user-password{
    border-radius:0 0 4px 4px;
}
.wt-select-imgBox{
    position: absolute;
    width: 360px;
    padding: 10px;
    background: #ffffff;
    border-radius: 4px;
    top: 80px;
    left: -15px;
    border: 1px solid #d1d1d1;
}
.wt-select-imgBox:before{
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 100%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #d1d1d1;
    left: 40px;
    margin-bottom: 0px;
}
.wt-select-imgBox:after{
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 100%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    left: 40px;
    margin-bottom: -1px;
}
.wt-avatar-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.wt-avatar-list:after{
    display: block;
    content: "";
    clear: both;
}
.wt-avatar-list li{
    float: left;
    margin: 5px;
    width: 50px;
    height: 50px;
    position: relative;
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
}
.wt-avatar-list li img{
    display: block;
    width: 100%;
    height: 100%;
}
.wt-avatar-list li.active{
    border: 2px solid #4db3ff;
}
.wt-avatar-list li.active:after{
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #4db3ff;
    content:'✔';
    color: #fff;
    bottom: 0;
    right: 0;
    text-align: right;
    line-height: 18px;
    font-size: 12px;
    border-radius: 10px 0 0 0;
}
.wt-addAvatar-box{
    margin: 0 5px 5px 10px;
}
.wt-addAvatar-box input{
    width: 100%;
    line-height: 30px;
    height: 30px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #C0C4CC;
    font-size: 12px;
    padding: 0 10px;
    box-sizing: border-box;
    color: #6a737d;
}
.wt-addAvatar-box input:focus{
    border: 1px solid #4db3ff;
}
.wt-error-message{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
    line-height: 30px;
    background-color: rgba(242, 242, 242, 0.5);
    color: #eb5951;
    padding: 0 15px;
    box-sizing: border-box;
}
/************连接日志样式*************/
.wt-logBox{
    position: fixed;
    width: 600px;
    border-radius: 4px;
    background: #FFFFFF;
    z-index: 999;
    left: 50%;
    margin-left: -300px;
    top: 80px;
}
.wt-logHeader{
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 30px;
    color: #666666;
    font-weight: bold;
    position: relative;
}
.wt-log-closeBtn{
    display: block;
    width: 20px;
    height: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 5px;
    color: #8893a0;
    cursor: pointer;
}
.wt-log-closeBtn:hover{
    background: rgba(51, 51, 51, 0.1);
    border-radius: 4px;
}
.wt-log-container{
    padding: 10px 0;
    height: 320px;
    line-height: 20px;
    font-size: 12px;
    background: #333333;
    color: #FFFFFF;
}
.wt-log-list{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    overflow-y: auto;
    box-sizing: border-box;
}
.wt-log-time{
    margin-left: 5px;
}
.wt-log-info{
    color: #96ceff;
}
.wt-log-success{
    color: #79ff78;
}
.wt-log-warning{
    color: #ffb03c;
}
.wt-log-error{
    color: #ff3d46;
}
.wt-alter-message{
    position: absolute;
    top: 60px;
    line-height: 20px;
    font-size: 12px;
    padding: 5px 10px;
    color: #ff959f;
    border-radius: 4px;
    background-color: rgba(51, 51, 51, 0.8);
    left: 50%;
    transform: translateX(-50%);
}

/*******************/
.ui-aPlayer-warp{
    position: fixed;
    padding: 5px 10px;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    bottom: 40px;
    left: 0;
    transition: left .5s;
}
.ui-aPlayer-warp .icon-left{
    display: inline-block;
}
.ui-aPlayer-warp .icon-right{
    display: none;
}
.ui-aPlayer-hide{
    left: -350px;
}
.ui-aPlayer-hide .icon-left{
    display: none;
}
.ui-aPlayer-hide .icon-right{
    display: inline-block;
}
.ui-aPlayer-container:after{
    display: block;
    content: "";
    clear: both;
}
.ui-aPlayer-container{
    height: 70px;
    position: relative;
}
.ui-aPlayer-poster{
    width: 60px;
    height: 60px;
    position: relative;
}
.ui-load-error{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ffffff;
}
.ui-load-error path{
    fill: #eb5951;
}
.ui-aPlayer-poster img{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
}
.ui-aPlayer-infoBox{
    width: 80px;
    height: 60px;
    padding-left:10px;
}
.ui-song-infoRow{
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
    font-size: 12px;
}
.ui-aPlayer-ctlBox{
    width: 100px;
    padding: 10px 0;
    height: 40px;
}
.ui-ctrl-col{
    float: left;
    width: 33.33333333%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}
.ui-ctrl-col span{
    font-size: 25px;
    cursor: pointer;
}
.ui-toggle-ctrl span{
    font-size: 30px;
}
.ui-aPlayer-volBox{
    width: 80px;
    height: 20px;
    padding: 20px 0;
}
.ui-vol-icon{
    display: block;
    float: left;
    width: 25px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    font-size: 16px;
}
.ui-voice-box{
    margin-left: 25px;
    height: 4px;
    padding: 8px 0;
}
.ui-aPlayer-menuBox{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 20px;
    vertical-align: middle;
}
.ui-aPlayer-menuBox span{
    cursor: pointer;
    font-size: 12px;
}
.ui-aPlayer-lrcBtn{
    font-size: 15px;
}
.ui-aPlayer-timeBox{
    height: 4px;
    padding-top:6px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.ui-aPlayer-poster,
.ui-aPlayer-infoBox,
.ui-aPlayer-ctlBox,
.ui-aPlayer-volBox{
    float: left;
}
.ui-aPlayer-toggleShowBtn{
    position: absolute;
    left: 100%;
    width: 20px;
    height: 80px;
    line-height: 80px;
    font-size: 12px;
    text-align: center;
    border-radius: 0 4px 4px 0;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    top: 0;
    cursor: pointer;
    border-left: 1px solid #000000;
}
.ui-aPlayer-toggleShowBtn span{
    font-size: 12px;
}
.ui-aPlayer-curTime{
    position: absolute;
    font-size: 12px;
    line-height: 20px;
    bottom: 10px;
    right: 0;
}
.ui-aPlayer-lrcBox{
    width: 180px;
    left: 100%;
    margin-left: 22px;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    height: 60px;
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: opacity .2s;
}
.ui-aPlayer-lrcHide{
    visibility: hidden;
    z-index: -1;
    opacity: 0;
}
.ui-aPlayer-lrcWarp{
    width: 100%;
    height: 100%;
}
.ui-close-lrcBtn{
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
/****播放器字体颜色****/
.ui-aPlayer-curTime,
.ui-song-infoRow{
    color: #c6c6c6;
}
/****按钮字体颜色*****/
.ui-close-lrcBtn,
.ui-close-listBtn,
.ui-ctrl-col span,
.ui-song-btnBox span,
.ui-toggle-showBtn,
.ui-aPlayer-menuBox span,
.ui-aPlayer-volBox .ui-vol-icon{
    color: #cdd1ec;
}
.ui-close-lrcBtn:hover,
.ui-close-listBtn:hover,
.ui-song-btnBox span:hover,
.ui-ctrl-col span:hover,
.ui-toggle-showBtn:hover,
.ui-aPlayer-menuBox span:hover,
.ui-aPlayer-volBox .ui-vol-icon:hover{
    color: #FFFFFF;
}
/****进度条样式****/
.ui-progress-warp{
    position: relative;
    width: 100%;
    height: 100%;
}
.ui-progress-content{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #606266;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
}
.ui-progress-payload{
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 2px;
}
.ui-progress-bar{
    position: absolute;
    background-color: #1c8de0;
    border-radius: 2px;
}
.ui-progress-ctrl{
    position: absolute;
    width: 4px;
    height: 4px;
    padding: 3px;
    border-radius: 5px;
    background-color: #FFFFFF;
    opacity: 0;
    transform: scale(.5);
    transition: all .2s;
}
.ui-progress-content:hover .ui-progress-ctrl,
.ui-progress-moving .ui-progress-ctrl{
    opacity: 1;
    transform: scale(1);
}
.ui-progress-row .ui-progress-payload{
    left: 0;
    top: 0;
    height: 100%;
}
.ui-progress-row .ui-progress-bar{
    height: 100%;
}
.ui-progress-row .ui-progress-ctrl{
    left: 100%;
    margin-left:-5px;
    top: 50%;
    margin-top: -5px;
}
.ui-progress-col .ui-progress-payload{
    left: 0;
    bottom: 0;
    width: 100%;
}
.ui-progress-col .ui-progress-bar{
    width: 100%;
    bottom: 0;
    left: 0;
}
.ui-progress-col .ui-progress-ctrl{
    bottom: 100%;
    margin-bottom:-5px;
    left: 50%;
    margin-left: -5px;
}
.ui-progress-tips{
    display: none;
    position: absolute;
    font-size: 12px;
    color: #f2f2f2;
    background-color: rgba(51, 51, 51, 0.76);
    border-radius: 3px;
    padding: 3px 7px;
}
.ui-progress-row .ui-progress-tips{
    bottom: 100%;
    margin-bottom: 15px;
    left: 0;
    transform: translateX(-50%);
}
.ui-progress-col .ui-progress-tips{
    bottom: 0;
    margin-left: 15px;
    left: 100%;
    transform: translateY(50%);
}
.ui-progress-content:hover .ui-progress-tips,
.ui-progress-moving .ui-progress-tips{
    display: block;
}
.ui-progress-tips-hide{
    display: none !important;
}
/***歌词样式****/
.ui-lrc-warp{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-sizing: border-box;
}
.ui-lrc-container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.ui-lrc-list{
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    transition: top .2s;
    color: #f2f2f2;
}
.ui-lrc-item{
    color: #f2f2f2;
    transition: color .2s;
}
.ui-lrc-item.active{
    color: #f2c711;
}
.ui-aPlayer-songsWarp{
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    border-radius: 4px 4px 0 0;
}
.ui-aPlayer-songsHide{
    display: none;
}
.ui-songs-header{
    line-height: 28px;
    padding: 0 10px;
    position: relative;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    border-radius: 4px 4px 0 0;
}
.ui-close-listBtn{
    position: absolute;
    line-height: 20px;
    width: 20px;
    top: 4px;
    right: 5px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.ui-songs-header .ui-header-text,.ui-songs-num{
    color: #d1d1d1;
    font-size: 12px;
}
.ui-songListWarp{
    height: 240px;
    overflow-y: auto;
    padding: 0;
    list-style: none;
    margin: 0;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
.ui-song-item{
    line-height: 28px;
    font-size: 12px;
    padding: 0 85px 0 10px;
    color: #a1a1a1;
    height: 28px;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ui-song-item:hover,.ui-song-item.active{
    background-color: rgba(0,0,0,0.3);
}
.ui-song-item:hover .ui-song-btnBox{
    display: block;
}
.ui-song-btnBox{
    display: none;
    position: absolute;
    line-height: 28px;
    right: 10px;
    top: 0;
    height: 28px;
    vertical-align: middle;
}
.ui-song-btnBox span{
    font-size: 14px;
    cursor: pointer;
}
.ui-play-cur{
    line-height: 28px;
    margin-right: 5px;
    vertical-align: middle;
    font-size: 14px;
    color: #e35c64;
    visibility: hidden;
    opacity: 0;
}
.ui-song-item.active .ui-play-cur{
    visibility: initial;
    opacity: 1;
}
/********************************************/
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.scroll::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.13);
}
/*定义滚动条的轨道，内阴影及圆角*/
.scroll::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(240, 240, 240, 0);
    border-radius: 10px;
    background-color: rgba(0, 89, 255, 0);
}
/*定义滑块，内阴影及圆角*/
.scroll::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(236, 236, 236, 0.3);
    background-color: rgba(203, 203, 203, 0.54);
    transition: all 0.5s;
}
